.carousel-inner {
    display: flex;
    height: 500px;
}

.carousel-inner .carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.carousel-caption
{
    /* background-color:; */
    width: auto;
}